div:has(.navList) {
    width: 100%;
}

.navList {
    display: flex;
    align-items: center;
    gap: var(--space-100, 0.5rem);

    width: 100%;

    max-width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    justify-content: stretch;

    &[data-orientation='vertical'] {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: var(--space-100, 0.5rem);
    }
}
