.contents {
    display: flex;
    flex-direction: column;

    width: 12.5rem;
    padding: var(--space-050) 0;

    border-radius: var(--border-radius-300);
    border: 1px solid var(--border-color, #e1e1e8);
    background: var(--background-normal, #fff);

    box-shadow: 0 0.25rem 0.625rem 0 rgba(var(--rgb-black) / 0.2);
    overflow-y: auto;

    &[tabindex]:focus-visible {
        outline: none !important;
    }
}
