node_modules

.vscode
.python-version

dist
**/reactstrap/**
!**/stories/reactstrap/**

*.lock
*lock.json

packages/vapor-components/cjs
packages/vapor-components/es

packages/vapor-charts/cjs
packages/vapor-charts/es

packages/vapor-icons/lib

.env
storybook-static

## etc
*.tsbuildinfo
*.tgz
*.log
*.DS_Store
.vercel

## playwright
**/test-results/
**/playwright-report/
**/blob-report/
**/playwright/.cache/

## 구름톤 gitignore
/constants
/libs
/packages/vapor-charts
/packages/vapor-codemirror
/packages/vapor-components
#/packages/vapor-core
/packages/vapor-date
/packages/vapor-foundation
/packages/vapor-hooks
/packages/vapor-icons
/packages/vapor-tables
/packages/vapor-theme
/packages/vapor-tools
/src
.storybook
/public
/scripts
/stories
/utils