.container {
    display: flex;
    padding: var(--space-200, 16px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-150, 12px);
    align-self: stretch;
    border-radius: var(--border-radius-500, 16px);
    background: var(--gray-050, #f7f7fa);
}

.header {
    display: flex;
    align-items: center;
    gap: var(--space-100, 8px);
}

.list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.icon {
    display: flex;
    width: var(--dimension-300, 24px);
    height: var(--dimension-300, 24px);
    padding: 0px 0.2109rem 0px 0.2813rem;
    justify-content: center;
    align-items: center;
    color: var(--black);
}

.reference {
    display: flex;
    align-items: flex-start;
    padding: var(--space-100, 8px);
    justify-content: space-between;
    align-items: center;
    gap: var(--space-100, 8px);
    align-self: stretch;
    border-radius: var(--border-radius-300);

    &:hover {
        background-color: var(--gray-600-transparent-16);
    }
}

.content {
    display: flex;
    align-items: center;
    gap: var(--space-100, 8px);
}

.referenceInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.openInNewIcon {
    opacity: 0;
}

.reference:hover .openInNewIcon {
    opacity: 1;
}
