/* LiveDemo shadowDom에서 구름스트랩을 공유하는 문제 때문에 px과 rgba를 사용 */
.container {
    min-height: 34.375rem;
    background-color: rgba(247, 247, 250, 1);
    border-color: rgba(225, 225, 232, 1) !important;
    font-family: 'Pretendard Variable', '-apple-system', 'BlinkMacSystemFont',
        'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans',
        'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
    &_dark {
        background-color: rgba(35, 39, 46, 1);
    }
}

.sidePanel {
    flex-basis: 18.75rem;
    border-color: rgba(225, 225, 232, 1) !important;

    &_close {
        flex-basis: 0;
        transform: translateX(100%);
        width: 0;
        padding: 0 !important;
    }

    &Toggle {
        color: rgb(43, 45, 54) !important;
    }

    &List {
        max-height: calc(100% - 1.875rem);
    }

    &Head {
        border-color: rgba(225, 225, 232, 1) !important;
    }

    &Header {
        margin: 0;
        font-size: 20px;
        color: rgba(43, 45, 54, 1);
        font-weight: 700;
        letter-spacing: -0.2px;
    }

    button,
    a {
        color: rgb(82, 84, 99) !important;
    }

    ul {
        border-color: rgba(225, 225, 232, 1);
    }
}

.caretIcon {
    transition: transform 0.3s;
    &_open {
        transform: rotate(-180deg);
    }
}

.backButton {
    right: 1.5rem;
    top: 1.5rem;
}

.foundationLabel {
    margin-right: 3px;
    font-size: 12px;

    &_dark {
        color: rgba(221, 221, 228, 1);
    }
}

.dropdown {
    &Toggle {
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: 500;

        &_light {
            border: 1px solid #e8e1e8;
            background-color: #ffffff;
            color: #6c6e7e !important;

            &:hover,
            &:focus,
            &:active {
                border: 1px solid rgb(205, 206, 214) !important;
                background-color: #ffffff !important;
                color: #6c6e7e !important;
            }
        }

        &_dark {
            border: 1px solid #3f434f;
            background-color: rgb(35, 39, 46);
            color: rgb(221, 221, 228) !important;

            &:hover,
            &:focus,
            &:active {
                border: 1px solid #525664 !important;
                background-color: rgb(35, 39, 46) !important;
                color: rgb(221, 221, 228) !important;
            }
        }
    }

    &Item {
        font-size: 12px;
    }
}

.codeBox {
    background-color: rgba(240, 240, 245, 1);

    &_border {
        border-color: rgba(225, 225, 232, 1) !important;
    }

    &_text {
        color: rgb(43, 45, 54);
        font-size: 14px;
        font-weight: 500;
    }
}

.codeBlock {
    pre {
        line-height: 1.25;
    }
}

.preview {
    width: 100%;
    height: 100%;
    max-height: 390.5px;
    overflow: auto;
}
