.tableContainer {
    max-width: 71.25rem /* 1140px -> 71.25rem */;
    max-height: 31.25rem /* 500px -> 31.25rem */;
    overflow: auto;
    margin: 1rem 0;
}

.table {
    width: 100%;
    border-collapse: collapse;

    & th,
    & td {
        border: 1px solid #ddd;
        padding: 8px;
        white-space: nowrap;
        padding: 0.5rem;
    }

    & th {
        background-color: #f2f2f2;
        text-align: left;
    }
}
