.item {
    display: flex;
    align-items: center;
    align-self: stretch;

    width: calc(100% - var(--space-050) * 2);
    height: var(--dimension-400);
    padding: var(--space-050) var(--space-150);
    margin: 0 var(--space-050);
    border-radius: var(--border-radius-300);
    border: none;

    color: var(--text-normal);

    &:hover {
        background-color: var(--hint-transparent-8);
        outline: none !important;
    }

    &:focus-visible:not(:hover) {
        background-color: var(--hint-transparent-16);
    }

    &:active {
        color: var(--text-primary-alternative);
        background-color: var(--primary-transparent-24);
    }

    &:disabled {
        opacity: 0.32;
        pointer-events: none;
    }

    &_background {
        background-color: transparent;
    }
}
