.vapor-markdown html {
    font-family: 'Pretendard Variable';
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 1rem;
}

.vapor-markdown body {
    margin: 0;
}

.vapor-markdown aside,
.vapor-markdown details,
.vapor-markdown figcaption,
.vapor-markdown figure,
.vapor-markdown footer,
.vapor-markdown header,
.vapor-markdown main,
.vapor-markdown menu,
.vapor-markdown nav,
.vapor-markdown section,
.vapor-markdown summary {
    display: block;
}

.vapor-markdown audio,
.vapor-markdown canvas,
.vapor-markdown progress,
.vapor-markdown video {
    display: inline-block;
}

.vapor-markdown audio:not([controls]) {
    display: none;
    height: 0;
}

.vapor-markdown progress {
    vertical-align: baseline;
}

.vapor-markdown [hidden],
.vapor-markdown template {
    display: none;
}

.vapor-markdown a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.vapor-markdown a:active,
.vapor-markdown a:hover {
    outline-width: 0;
}

.vapor-markdown abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

.vapor-markdown b,
.vapor-markdown strong {
    font-weight: inherit;
    font-weight: bolder;
}

.vapor-markdown dfn {
    font-style: italic;
}

.vapor-markdown h1 {
    margin: .67em 0;
}

.vapor-markdown mark {
    background-color: #ff0;
    color: #000;
}

.vapor-markdown small {
    font-size: 80%;
}

.vapor-markdown sub,
.vapor-markdown sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

.vapor-markdown sub {
    bottom: -.25em;
}

.vapor-markdown sup {
    top: -.5em;
}

.vapor-markdown img {
    border-style: none;
}

.vapor-markdown svg:not(:root) {
    overflow: hidden;
}

.vapor-markdown code,
.vapor-markdown kbd,
.vapor-markdown pre,
.vapor-markdown samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

.vapor-markdown figure {
    margin: 1em 40px;
}

.vapor-markdown hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.vapor-markdown button,
.vapor-markdown input,
.vapor-markdown optgroup,
.vapor-markdown select,
.vapor-markdown textarea {
    font: inherit;
    margin: 0;
}

.vapor-markdown optgroup {
    font-weight: 700;
}

.vapor-markdown button,
.vapor-markdown input {
    overflow: visible;
}

.vapor-markdown button,
.vapor-markdown select {
    text-transform: none;
}

.vapor-markdown [type=reset],
.vapor-markdown [type=submit],
.vapor-markdown button,
.vapor-markdown html [type=button] {
    -webkit-appearance: button;
}

.vapor-markdown [type=button]::-moz-focus-inner,
.vapor-markdown [type=reset]::-moz-focus-inner,
.vapor-markdown [type=submit]::-moz-focus-inner,
.vapor-markdown button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

.vapor-markdown [type=button]:-moz-focusring,
.vapor-markdown [type=reset]:-moz-focusring,
.vapor-markdown [type=submit]:-moz-focusring,
.vapor-markdown button:-moz-focusring {
    outline: 1px dotted ButtonText;
}

.vapor-markdown fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em;
}

.vapor-markdown legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

.vapor-markdown textarea {
    overflow: auto;
}

.vapor-markdown [type=checkbox],
.vapor-markdown [type=radio] {
    box-sizing: border-box;
    padding: 0;
}

.vapor-markdown [type=number]::-webkit-inner-spin-button,
.vapor-markdown [type=number]::-webkit-outer-spin-button {
    height: auto;
}

.vapor-markdown [type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

.vapor-markdown [type=search]::-webkit-search-cancel-button,
.vapor-markdown [type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

.vapor-markdown ::-webkit-input-placeholder {
    color: inherit;
    opacity: .54;
}

.vapor-markdown ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

.vapor-markdown html {
    font: 100%/1.625 -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    box-sizing: border-box;
    overflow-y: scroll;
}

.vapor-markdown * {
    box-sizing: inherit;
}

.vapor-markdown *:before {
    box-sizing: inherit;
}

.vapor-markdown *:after {
    box-sizing: inherit;
}

.vapor-markdown body {
    color: hsla(0, 0%, 0%, 0.8);
    font-weight: normal;
    word-wrap: break-word;
    font-kerning: normal;
    -moz-font-feature-settings: "kern", "liga", "clig", "calt";
    -ms-font-feature-settings: "kern", "liga", "clig", "calt";
    -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
    font-feature-settings: "kern", "liga", "clig", "calt";
}

.vapor-markdown img {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 0.8125rem;
}

.vapor-markdown h1 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 2.4375rem;
    padding-bottom: calc(0.40625rem - 1px);
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.21875rem;
    color: inherit;
    text-rendering: optimizeLegibility;
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.07);
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 800;

}

.vapor-markdown h2 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 56px;
    padding-bottom: calc(0.40625rem - 1px);
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 20px;
    color: inherit;
    text-rendering: optimizeLegibility;
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.07);
    font-size: 1.51572rem;
    line-height: 1.2;
    font-weight: 700;
}

.vapor-markdown h3 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 0.8125rem;
    color: inherit;    
    text-rendering: optimizeLegibility;
    font-size: 1.31951rem;
    line-height: 1.1; 
    font-weight: 600;
}

.vapor-markdown h4 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 0.8125rem;
    color: inherit;    
    text-rendering: optimizeLegibility;
    font-size: 1rem;
    line-height: 1.1;
    font-weight: 600;
}

.vapor-markdown h5 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 0.8125rem;
    color: inherit;    
    text-rendering: optimizeLegibility;   
    font-size: 0.87055rem;
    line-height: 1.1; 
    font-weight: 600;

}

.vapor-markdown h6 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 0.8125rem;
    color: hsla(0, 0%, 0%, 0.53);    
    text-rendering: optimizeLegibility;
    font-size: 0.81225rem;
    line-height: 1.1;    
    font-weight: 600;
}

.vapor-markdown p {
    font-size: 1rem;
    font-weight: 400;
}

.vapor-markdown hgroup {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 0.8125rem;
}

.vapor-markdown ul {
    margin-left: 1.625rem;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 6px;
    list-style-position: outside;
    list-style-image: none;
}

.vapor-markdown ol {
    margin-left: 1.625rem;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 0.8125rem;
    list-style-position: outside;
    list-style-image: none;
}

.vapor-markdown dl {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 0.8125rem;
}

.vapor-markdown dd {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 0.8125rem;
}

.vapor-markdown p {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 0.8125rem;
}

.vapor-markdown figure {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 0.8125rem;
}

.vapor-markdown pre {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0.8125rem;
    font-size: 0.85rem;
    line-height: 1.625rem;
}

.vapor-markdown table {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 0.8125rem;
    font-size: 1rem;
    line-height: 1.625rem;
    border-collapse: collapse;
    width: 100%;
}

.vapor-markdown fieldset {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 0.8125rem;
}

.vapor-markdown blockquote {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: calc(0.8125rem - 1px);
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 0.8125rem;
    border-left: 4px solid hsla(0,0%,0%,0.13);
    color: hsla(0,0%,0%,0.53);
}

.vapor-markdown form {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 0.8125rem;
}

.vapor-markdown noscript {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 0.8125rem;
}

.vapor-markdown iframe {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 0.8125rem;
}

.vapor-markdown hr {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: calc(0.8125rem - 1px);
    background: hsla(0,0%,0%,0.2);
    border: none;
    height: 1px;
}

.vapor-markdown address {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 0.8125rem;
}

.vapor-markdown b {
    font-weight: 600;
}

.vapor-markdown strong {
    font-weight: 600;
}

.vapor-markdown dt {
    font-weight: 600;
}

.vapor-markdown th {
    font-weight: 600;
}

.vapor-markdown li {
    margin-bottom: 2px;
}

.vapor-markdown ol li {
    padding-left: 0;
}

.vapor-markdown ul li {
    padding-left: 0;
}

.vapor-markdown li > ol {
    margin-left: 1.625rem;
    margin-bottom: calc(0.8125rem / 2);
    margin-top: calc(0.8125rem / 2);
}

.vapor-markdown li > ul {
    margin-left: 1.625rem;
    margin-bottom: calc(0.8125rem / 2);
    margin-top: calc(0.8125rem / 2);
}

.vapor-markdown blockquote *:last-child {
    margin-bottom: 0;
}

.vapor-markdown li *:last-child {
    margin-bottom: 0;
}

.vapor-markdown p *:last-child {
    margin-bottom: 0;
}

.vapor-markdown li > p {
    margin-bottom: calc(0.8125rem / 2);
}

.vapor-markdown code {
    font-size: 0.85rem;
    line-height: 1.625rem;
}
:not(pre) > code {
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.6;
    font-size: .95em;
    -o-tab-size: 2;
    tab-size: 2;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    background: rgba(175, 184, 193, .2);
    color: #212429;
    padding: .11em .3em;
    margin: 0 .1em;
    border-radius: .3em;
    white-space: normal;
    font-family: Fira Code, Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
    text-align: left;
}

.vapor-markdown kbd {
    font-size: 0.85rem;
    line-height: 1.625rem;
}

.vapor-markdown samp {
    font-size: 0.85rem;
    line-height: 1.625rem;
}

.vapor-markdown abbr {
    border-bottom: 1px dotted hsla(0,0%,0%,0.5);
    cursor: help;
}

.vapor-markdown acronym {
    border-bottom: 1px dotted hsla(0,0%,0%,0.5);
    cursor: help;
}

.vapor-markdown abbr[title] {
    border-bottom: 1px dotted hsla(0,0%,0%,0.5);
    cursor: help;
    text-decoration: none;
}

.vapor-markdown thead {
    text-align: left;
}

.vapor-markdown td, .vapor-markdown th {
    text-align: left;
    border-bottom: 1px solid hsla(0,0%,0%,0.12);
    font-feature-settings: "tnum";
    -moz-font-feature-settings: "tnum";
    -ms-font-feature-settings: "tnum";
    -webkit-font-feature-settings: "tnum";
    padding-left: 1.08333rem;
    padding-right: 1.08333rem;
    padding-top: 0.8125rem;
    padding-bottom: calc(0.8125rem - 1px);
}

.vapor-markdown h3, .vapor-markdown h4, .vapor-markdown h5, .vapor-markdown h6 {
    margin-bottom: 0.8125rem;
    margin-top: 1.625rem;
}

.vapor-markdown ol, .vapor-markdown ul {
    margin-left: 2.03125rem;
}

.vapor-markdown li > ol, .vapor-markdown li > ul {
    margin-left: 2.03125rem;
}

.vapor-markdown a {
    color: #0687f0;
    text-decoration: none;
    box-shadow: none;
}

.vapor-markdown a:hover, .vapor-markdown a:active {
    text-decoration: underline;
}

.vapor-markdown a.gatsby-resp-image-link {
    box-shadow: none;
    text-decoration: none;
}

.vapor-markdown a:hover {
    text-decoration: none;
}