.layout {
    position: relative;
    display: flex;
    padding: 3rem 3rem 5rem 3rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
    flex: 1 0 0;
    align-self: stretch;
}
